.features {
   display: none;
}

@media (min-width: 400px) {
   .features {
      display: block;
      display: flex;
      position: relative;
      &__left-decor {
         position: absolute;
         top: 258px;
         height: 166px;
      }
      &__content {
         display: flex;
         margin: 0 auto 110px;
         width: 1140px;
      }
      &__column {
         width: 459px;
      }
      &__subtitle {
         margin: 0;
         font-size: 22px;
         line-height: 34px;
         color: #009b4d;
      }
      &__title {
         margin: 24px 0 0;
         font-size: 56px;
         line-height: 56px;
         letter-spacing: -0.5px;
         color: $mainTextColor;
      }
      &__descr {
         margin: 30px 0 0;
         font-size: 24px;
         line-height: 34px;
         color: $mainTextColor;
      }
      &__advantage-header {
         display: flex;
         margin-top: 42px;
      }
      &__advantage-title {
         margin: 0 0 0 15px;
         font-size: 22px;
         line-height: 26px;
         color: #3142c6;
      }
      &__advantage-text {
         margin: 8px 0 0;
         padding-bottom: 20px;
         border-bottom: 3px solid #3142c6;
         font-size: 18px;
         line-height: 26px;
         color: $mainTextColor;
      }
      &__advantage-item {
         display: flex;
         margin-top: 21px;
         padding-bottom: 22px;
         border-bottom: 1px solid #2b292d26;
      }
      &__advantage-item-text {
         margin-left: 15px;
         font-size: 22px;
         line-height: 26px;
         font-weight: 700;
         color: $mainTextColor;
      }
      &__banner {
         position: absolute;
         right: 0;
         filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
      }
   }
}
